.VPHomeHero {
  padding-bottom: 50px;
  .heading {
    align-items: center;
    .text {
      max-width: 100% !important;
    }
  }
  .actions {
    justify-content: center ;
  }
}

.gantt-container {
  height: 400px !important;
  display: flex;
}
