.VPHomeHero {
  padding-bottom: 50px;
  .heading {
    align-items: center;
    .text {
      max-width: 100% !important;
    }
  }
  .actions {
    justify-content: center ;
  }
}

.VPContent {
  padding-right: 0 !important;
  .VPDoc {
    .content-container {
      margin: 0 !important;
      max-width: max-content !important;
    }
  }

}

.gantt-container {
  height: 400px !important;
  display: flex;
}
